apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi-backend
  template:
    metadata:
      labels:
        app: fastapi-backend
    spec:
      containers:
      - name: fastapi-backend
        image: us-central1-docker.pkg.dev/keen-phalanx-473718-p1/mlops-mlflow/fastapi-backend:latest
        ports:
        - containerPort: 8000
        
        # Mount GCP Service Account Secret
        env:
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /var/secrets/google/gcp-sa.json
        - name: MLFLOW_TRACKING_URI
          value: "http://34.71.75.36:5000/"
        
        volumeMounts:
        - name: gcp-sa-volume
          mountPath: /var/secrets/google
          readOnly: true
        
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "500m" 
            memory: "512Mi"
      
      # Define volume from secret
      volumes:
      - name: gcp-sa-volume
        secret:
          secretName: gcp-sa-secret
---
apiVersion: v1
kind: Service
metadata:
  name: fastapi-backend-service
spec:
  type: LoadBalancer
  selector:
    app: fastapi-backend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8000
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: fastapi-backend-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fastapi-backend
  minReplicas: 1 
  maxReplicas: 3 
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
